.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-links {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
    background-color: rgb(43, 60, 80);

    .nav-link {
        font-weight: 600;
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        text-decoration: none;

    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .description {
            font-size: 14px;
        }

        .logo {
            font-size: 25px;
            font-weight: 700;
        }
    }

}